In [1]:
import pandas as pd

### Old population data

In [8]:
population_data_file_path = '../data/raw/Population by borough 1939 to 2039.xlsx'
population_data = pd.read_excel(
    population_data_file_path,
    sheet_name='Population',
    skiprows=3,
    usecols='B:P',
    na_values=['n/a', 'N/A', 'N/A', 'n/a'],
    engine='openpyxl'
)

population_data

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,mid-year estimate,mid-year estimate,Census,NaN,Projection,Projection,Projection,Projection,NaN,Growth\n1939-2015,NaN,NaN,Growth\n2014-2015,NaN
1,Area Name,1939,1988,2011,NaN,2015,2021,2031,2039,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,total,%,NaN,total,%
3,City of London,9,6.2,7.375,NaN,8.101776,9.559778,10.843221,11.623187,NaN,-0.898224,-0.099803,NaN,0.211497,0.026157
4,Barking and Dagenham,184,156.6,185.911,NaN,205.434874,224.332972,250.46011,271.193003,NaN,21.434874,0.116494,NaN,3.949193,0.019904
5,Barnet,296,289.5,356.386,NaN,393.215093,415.066095,448.240994,469.008723,NaN,97.215093,0.328429,NaN,5.96088,0.015861
6,Bexley,179,217.7,231.997,NaN,237.012319,243.193377,253.74122,258.484219,NaN,58.012319,0.324091,NaN,2.239583,0.009392
7,Brent,310,246.4,311.215,NaN,326.338839,348.633248,374.68888,381.645253,NaN,16.338839,0.052706,NaN,2.624403,0.008207
8,Bromley,237,295.2,309.392,NaN,320.083395,328.780563,342.514284,350.868707,NaN,83.083395,0.350563,NaN,3.484156,0.010872
9,Camden,301,179,220.338,NaN,230.283248,241.602601,257.415289,266.825465,NaN,-70.716752,-0.234939,NaN,3.069207,0.01326
10,Croydon,297,313.9,363.378,NaN,381.170693,401.285402,425.96744,441.933405,NaN,84.170693,0.283403,NaN,4.10346,0.010892
11,Ealing,285,291.3,338.449,NaN,349.333276,368.654611,392.043485,405.978207,NaN,64.333276,0.225731,NaN,3.507398,0.010089
12,Enfield,272,256.5,312.466,NaN,322.135739,334.681369,350.67717,360.430364,NaN,50.135739,0.184323,NaN,4.741242,0.014511
13,Greenwich,243,210.1,254.557,NaN,281.560496,315.207016,347.102927,350.140195,NaN,38.560496,0.158685,NaN,3.011691,0.011322
14,Hackney,332,184.6,246.27,NaN,262.683238,283.974587,306.72601,322.596474,NaN,-69.316762,-0.208785,NaN,3.508562,0.013531
15,Hammersmith and Fulham,259,151.2,182.493,NaN,189.870627,204.670526,220.479141,231.328889,NaN,-69.129373,-0.266909,NaN,0.241869,0.001345
16,Haringey,292,199.6,254.926,NaN,269.121944,284.690494,301.71165,313.521544,NaN,-22.878056,-0.07835,NaN,3.506275,0.013178
17,Harrow,190,203.3,239.056,NaN,247.5075,257.294766,271.334014,281.645914,NaN,57.5075,0.302671,NaN,2.881705,0.011624
18,Havering,139,236,237.232,NaN,250.342086,266.313176,283.472687,291.279109,NaN,111.342086,0.801022,NaN,2.567651,0.010505
19,Hillingdon,159,232.1,273.936,NaN,289.49887,298.959924,310.859204,316.037546,NaN,130.49887,0.820748,NaN,4.609278,0.015834
20,Hounslow,196,192.9,253.957,NaN,263.591434,276.903924,296.366432,306.665402,NaN,67.591434,0.344854,NaN,4.245725,0.015854
21,Islington,343,165.3,206.125,NaN,220.784215,236.75975,252.729845,265.730325,NaN,-122.215785,-0.356314,NaN,3.933434,0.017905
22,Kensington and Chelsea,228,134.7,158.649,NaN,161.713677,167.819981,179.137074,182.845375,NaN,-66.286323,-0.290729,NaN,-0.00805,-0.000052
23,Kingston upon Thames,129,132,160.06,NaN,167.216782,176.427204,187.811819,196.042201,NaN,38.216782,0.296254,NaN,2.819926,0.016617
24,Lambeth,391,248.9,303.086,NaN,320.432364,338.539718,360.128357,388.848017,NaN,-70.567636,-0.18048,NaN,3.589793,0.011298
25,Lewisham,325,237.6,275.885,NaN,293.064183,312.092972,333.536913,347.45314,NaN,-31.935817,-0.098264,NaN,4.152856,0.01433
26,Merton,197,167.8,199.693,NaN,206.210748,212.54166,221.801974,227.666827,NaN,9.210748,0.046755,NaN,2.733725,0.013169
27,Newham,381,208.7,307.984,NaN,337.980591,371.208316,419.850809,429.440393,NaN,-43.019409,-0.112912,NaN,5.225177,0.016072
28,Redbridge,232,218.6,278.97,NaN,292.460342,311.743776,337.031132,348.925802,NaN,60.460342,0.260605,NaN,5.379491,0.01823
29,Richmond upon Thames,178,159.9,186.99,NaN,191.609678,195.971298,202.698983,207.347452,NaN,13.609678,0.076459,NaN,2.470861,0.012734
30,Southwark,456,219,288.283,NaN,308.668351,341.588817,367.723509,379.023083,NaN,-147.331649,-0.323096,NaN,4.196781,0.013883
31,Sutton,167,169.7,190.146,NaN,196.414177,201.576448,209.624116,214.706843,NaN,29.414177,0.176133,NaN,2.716309,0.013662
32,Tower Hamlets,419,158.7,254.096,NaN,284.324395,332.237968,373.07492,385.061648,NaN,-134.675605,-0.321421,NaN,6.311454,0.022834
33,Waltham Forest,286,213.1,258.249,NaN,271.425992,284.059707,304.515756,318.700799,NaN,-14.574008,-0.050958,NaN,3.21419,0.011959
34,Wandsworth,358,261.1,306.995,NaN,322.743101,348.150688,379.247224,392.296009,NaN,-35.256899,-0.098483,NaN,2.977195,0.009481
35,Westminster,347,172.4,219.396,NaN,230.539399,243.577492,255.945915,267.526533,NaN,-116.460601,-0.335621,NaN,2.754834,0.011984
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Inner London,4441,2526.7,3231.901,NaN,3440.311109,3716.473688,4018.549876,4184.120083,NaN,-1000.688891,-0.22533,NaN,43.670884,0.012939
38,Outer London,4176,4202.6,4942.04,NaN,5192.562332,5461.626534,5810.952628,5998.699972,NaN,1016.562332,0.24343,NaN,67.260867,0.013047
39,Greater London,8615,6729.3,8173.941,NaN,8632.873441,9178.100223,9829.502504,10182.820056,NaN,17.873441,0.002075,NaN,110.931751,0.013004
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Sources:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,"ONS population estimates, Open Government Licence",NaN,NaN,NaN,NaN,NaN,Largest proportional increase 1939-2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,"2011 Census, Open Government Licence",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,GLA 2013 round capped SHLAA projections,NaN,NaN,NaN,NaN,NaN,Largest proportional decrease 1939-2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Contact:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,demography@london.gov.uk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Combine the first two rows into a single header, ignore the growth rate columns for now
population_data.columns = [
    f"{col1} {col2}" if pd.notna(col1) and pd.notna(col2) 
    else col2
    for col1, col2 in zip(population_data.iloc[0], population_data.iloc[1])
]

# Drop the first three rows
population_data = population_data.drop(index=[0, 1, 2])

# Drop all columns with all NaN values
population_data = population_data.dropna(axis=1, how='all')

# Drop all rows with all NaN values
population_data = population_data.dropna(axis=0, how='all')

# Drop the last 6 rows
population_data = population_data.drop(index=population_data.index[-6:])

# Reset the index
population_data = population_data.reset_index(drop=True)

# Rename columns: replace spaces with underscores and lowercase them
population_data.columns = [
    col.strip().lower().replace(" ", "_").replace("-", "_") if isinstance(col, str) else col
    for col in population_data.columns
]

# Multiply the values in the population columns by 1000
population_columns = [
    'mid_year_estimate_1939', 
    'mid_year_estimate_1988',
    'census_2011', 
    'projection_2015', 
    'projection_2021', 
    'projection_2031',
    'projection_2039'
]
for col in population_columns:
    population_data[col] = population_data[col].astype(str).str.replace(' ', '').str.replace(',', '').astype(float) * 1000
    population_data[col] = population_data[col].astype(int)

# Drop the columns with NaN as the name
population_data = population_data.loc[:, ~population_data.columns.isna()]

In [ ]:
# # Exclude aggregate areas from the dataset
# exclude_names = ["inner london", "outer london", "greater london"]
# population_data = population_data[~population_data["area_name"].str.lower().isin(exclude_names)]

# # Store as CSV file
# population_data.to_csv(
#     '../data/processed/population_by_borough_old.csv',
#     index=False,
#     header=True,
#     encoding='utf-8'
# )

### New population data - population density by borough dataset

In [10]:
housing_density_data_file_path = '../data/raw/housing-density-borough.csv'
housing_density_data = pd.read_csv(housing_density_data_file_path)
housing_density_data.head()

,Code,Name,Year,Source,Population,Inland_Area _Hectares,Total_Area_Hectares,Population_per_hectare,Square_Kilometres,Population_per_square_kilometre
0,E09000001,City of London,1999,ONS MYE,6581,290.4,314.9,22.7,2.9,2266.2
1,E09000001,City of London,2000,ONS MYE,7014,290.4,314.9,24.2,2.9,2415.3
2,E09000001,City of London,2001,ONS MYE,7359,290.4,314.9,25.3,2.9,2534.1
3,E09000001,City of London,2002,ONS MYE,7280,290.4,314.9,25.1,2.9,2506.9
4,E09000001,City of London,2003,ONS MYE,7115,290.4,314.9,24.5,2.9,2450.1

### TODO: Housing density data cleaning & verification

In [11]:
housing_density_data['Name'].unique()

# Get unique area names from both datasets
population_area_names = set(population_data['area_name'].unique())
density_area_names = set(housing_density_data['Name'].unique())

# Find overlapping and non-overlapping names
overlap = population_area_names & density_area_names
only_in_population = population_area_names - density_area_names
only_in_density = density_area_names - population_area_names

print("Overlapping area names:", overlap)
print("Only in population_data:", only_in_population)
print("Only in housing_density_data:", only_in_density)

Overlapping area names: {'Greater London', 'Islington', 'Kensington and Chelsea', 'Ealing', 'Brent', 'Waltham Forest', 'Merton', 'Hillingdon', 'Bromley', 'Kingston upon Thames', 'Hounslow', 'Lewisham', 'Inner London', 'Richmond upon Thames', 'Haringey', 'Wandsworth', 'Hammersmith and Fulham', 'Lambeth', 'Tower Hamlets', 'Greenwich', 'Sutton', 'Redbridge', 'Westminster', 'Harrow', 'Hackney', 'Havering', 'Barnet', 'Camden', 'Barking and Dagenham', 'City of London', 'Newham', 'Enfield', 'Outer London', 'Southwark', 'Croydon', 'Bexley'}
Only in population_data: set()
Only in housing_density_data: {'London'}

#### Looks like housing density dataset contains 4 aggregate areas: London, Greater/Outer/Inner London

In [12]:
# Filter for the relevant area names
area_names_to_compare = ['London', 'Greater London', 'Inner London', 'Outer London']
comparison_df = housing_density_data[housing_density_data['Name'].isin(area_names_to_compare)]

# Pivot the data for easier comparison: rows=Year, columns=Name, values=Population
pivot_df = comparison_df.pivot(index='Year', columns='Name', values='Population')
pivot_df

Name  Greater London  Inner London     London  Outer London
Year
1999             NaN     2750716.0  7153912.0     4403196.0
2000             NaN     2804949.0  7236712.0     4431763.0
2001             NaN     2859375.0  7322403.0     4463028.0
2002             NaN     2890923.0  7376671.0     4485748.0
2003             NaN     2898563.0  7394817.0     4496254.0
2004             NaN     2915912.0  7432730.0     4516818.0
2005             NaN     2957048.0  7519009.0     4561961.0
2006             NaN     2989670.0  7597825.0     4608155.0
2007             NaN     3030764.0  7693473.0     4662709.0
2008             NaN     3078914.0  7812161.0     4733247.0
2009             NaN     3134393.0  7942594.0     4808201.0
2010             NaN     3179428.0  8061495.0     4882067.0
2011       8217475.0     3247768.0        NaN     4969707.0
2012       8321035.0     3291231.0        NaN     5029804.0
2013       8428809.0     3341307.0        NaN     5087502.0
2014       8550555.0     3401119.0        NaN     5149436.0
2015       8685178.0     3477121.0        NaN     5208057.0
2016       8798957.0     3534009.0        NaN     5264948.0
2017       8904004.0     3575589.0        NaN     5328414.0
2018       9006352.0     3624536.0        NaN     5381816.0
2019       9106157.0     3673880.0        NaN     5432277.0
2020       9203331.0     3710562.0        NaN     5492769.0
2021       9298024.0     3746932.0        NaN     5551092.0
2022       9390069.0     3781965.0        NaN     5608104.0
2023       9479610.0     3816382.0        NaN     5663228.0
2024       9566482.0     3848906.0        NaN     5717576.0
2025       9650677.0     3885100.0        NaN     5765576.0
2026       9732425.0     3920962.0        NaN     5811462.0
2027       9811952.0     3955071.0        NaN     5856881.0
2028       9889686.0     3986417.0        NaN     5903269.0
2029       9965796.0     4015872.0        NaN     5949924.0
2030      10040425.0     4049393.0        NaN     5991032.0
2031      10113738.0     4082434.0        NaN     6031304.0
2032      10186039.0     4114059.0        NaN     6071980.0
2033      10257460.0     4144976.0        NaN     6112484.0
2034      10327806.0     4175372.0        NaN     6152435.0
2035      10396960.0     4204730.0        NaN     6192230.0
2036      10464787.0     4232419.0        NaN     6232369.0
2037      10531109.0     4258620.0        NaN     6272489.0
2038      10596112.0     4284516.0        NaN     6311596.0
2039      10659260.0     4309687.0        NaN     6349573.0
2040      10718734.0     4333810.0        NaN     6384923.0
2041      10776412.0     4357534.0        NaN     6418878.0
2042      10832266.0     4380025.0        NaN     6452241.0
2043      10886271.0     4401710.0        NaN     6484561.0
2044      10938319.0     4422228.0        NaN     6516091.0
2045      10988367.0     4442649.0        NaN     6545718.0
2046      11036383.0     4463189.0        NaN     6573194.0
2047      11082365.0     4483576.0        NaN     6598789.0
2048      11126313.0     4503392.0        NaN     6622921.0
2049      11168255.0     4520728.0        NaN     6647527.0
2050      11208247.0     4536953.0        NaN     6671295.0

In [13]:
# Check if London = Inner London + Outer London for years up to and including 2010
years_london = pivot_df.index[pivot_df.index <= 2010]
london_sum = pivot_df.loc[years_london, 'Inner London'] + pivot_df.loc[years_london, 'Outer London']
london_equal = pivot_df.loc[years_london, 'London'].fillna(0).astype(float) == london_sum.fillna(0).astype(float)
print("London == Inner London + Outer London (<=2010):", london_equal.all())
if not london_equal.all():
    print("Years where equality fails (<=2010):", years_london[~london_equal].tolist())

# Check if Greater London = Inner London + Outer London for years from 2011 onwards
years_greater = pivot_df.index[pivot_df.index >= 2011]
greater_sum = pivot_df.loc[years_greater, 'Inner London'] + pivot_df.loc[years_greater, 'Outer London']
greater_equal = pivot_df.loc[years_greater, 'Greater London'].fillna(0).astype(float) == greater_sum.fillna(0).astype(float)
print("Greater London == Inner London + Outer London (>=2011):", greater_equal.all())
if not greater_equal.all():
    print("Years where equality fails (>=2011):", years_greater[~greater_equal].tolist())

London == Inner London + Outer London (<=2010): True
Greater London == Inner London + Outer London (>=2011): False
Years where equality fails (>=2011): [2017, 2025, 2026, 2034, 2036, 2040, 2050]

In [14]:
# Find years where Greater London != Inner London + Outer London (>=2011)
failed_years = years_greater[~greater_equal]
for year in failed_years:
    inner = pivot_df.loc[year, 'Inner London']
    outer = pivot_df.loc[year, 'Outer London']
    greater = pivot_df.loc[year, 'Greater London']
    sum_inner_outer = inner + outer
    print(f"Year {year}: Inner London = {inner:.1f}, Outer London = {outer:.1f}, Sum = {sum_inner_outer:.1f}, Greater London = {greater:.1f}, Diff = {greater - sum_inner_outer:.1f}")

Year 2017: Inner London = 3575589.0, Outer London = 5328414.0, Sum = 8904003.0, Greater London = 8904004.0, Diff = 1.0
Year 2025: Inner London = 3885100.0, Outer London = 5765576.0, Sum = 9650676.0, Greater London = 9650677.0, Diff = 1.0
Year 2026: Inner London = 3920962.0, Outer London = 5811462.0, Sum = 9732424.0, Greater London = 9732425.0, Diff = 1.0
Year 2034: Inner London = 4175372.0, Outer London = 6152435.0, Sum = 10327807.0, Greater London = 10327806.0, Diff = -1.0
Year 2036: Inner London = 4232419.0, Outer London = 6232369.0, Sum = 10464788.0, Greater London = 10464787.0, Diff = -1.0
Year 2040: Inner London = 4333810.0, Outer London = 6384923.0, Sum = 10718733.0, Greater London = 10718734.0, Diff = 1.0
Year 2050: Inner London = 4536953.0, Outer London = 6671295.0, Sum = 11208248.0, Greater London = 11208247.0, Diff = -1.0

#### So, London == Greater London (pre-2011) and Inner + Outer almost always neatly adds up to the total

#### What could cause discrepancy in Inner + Outer London reported totals and borough aggregates? Have these Inner/Outer London borough assignments changed over time?
Classifications for Inner and Outer London have changed over time due to population shifts and administrative reorganizations.

Until 1889, the City of London was the only part of London with an administrative existence separate from the historic counties. From 1889 to 1965, the County of London, carved from the historic counties of Middlesex, Surrey, and Kent, administered an area comprising present-day Inner London plus the outer boroughs of Newham and Haringey. The boundaries established in 1889 responded to the rapid development of suburban areas in the 19th century.

By the mid-20th century, London's suburban population had spread far beyond the County of London's boundaries. To address this shift, the present boroughs were established in 1965 by amalgamating existing boroughs and districts to form the new metropolitan county of Greater London. The steepest population decline occurred in the densest areas, with Inner London boroughs losing more than one-third of their population in the postwar decades. London's population began slowly growing again in the 1990s.

Sources: 

1. [Greater London: Introduction](https://www.britannica.com/place/Greater-London#ref1)

2. [London: Demographic trends](https://www.britannica.com/place/London/City-layout#ref13491)

3. [London: City layout](https://www.britannica.com/place/London/City-layout#ref13487)

In [15]:
inner_london_boroughs = {
    # "Greenwich", is apparently not an inner borough
    "Camden",  "Hackney", "Hammersmith and Fulham", "Islington",
    "Kensington and Chelsea", "Lambeth", "Lewisham", "Southwark",
    "Tower Hamlets", "Wandsworth", "Westminster",
    # https://www.britannica.com/topic/Inner-London says these are also inner boroughs
    "Haringey", "Newham", "City of London"
}

# Prepare borough lists
inner_boroughs = list(inner_london_boroughs | {"City of London"})
outer_boroughs = set(density_area_names) - set(inner_boroughs) - set(area_names_to_compare)

In [16]:
# Create borough containment csv dataset
rows = []
for borough in inner_boroughs:
    rows.append({"borough": borough, "aggregate": "Inner London"})
    
for borough in outer_boroughs:
    rows.append({"borough": borough, "aggregate": "Outer London"})

# Create DataFrame and save as CSV
boroughs_aggregate_df = pd.DataFrame(rows)
boroughs_aggregate_df.to_csv("../data/processed/boroughs_containment.csv", index=False)

In [ ]:
# Check for discrepancies between Inner/Outer London aggregates and dataset totals
years = sorted(housing_density_data['Year'].unique())

# Prepare results
discrepancies = []

for year in years:
    # Inner London sum
    inner_sum = housing_density_data[
        (housing_density_data['Year'] == year) &
        (housing_density_data['Name'].isin(inner_boroughs))
    ]['Population'].sum()
    inner_total = housing_density_data[
        (housing_density_data['Year'] == year) &
        (housing_density_data['Name'] == 'Inner London')
    ]['Population'].sum()
    if not pd.isna(inner_total) and abs(inner_sum - inner_total) > 1:
        discrepancies.append({
            'Year': year,
            'Area': 'Inner London',
            'Sum of Boroughs': int(inner_sum),
            'Dataset Total': int(inner_total),
            'Difference': int(inner_sum - inner_total)
        })
    # Outer London sum
    outer_sum = housing_density_data[
        (housing_density_data['Year'] == year) &
        (housing_density_data['Name'].isin(outer_boroughs))
    ]['Population'].sum()
    outer_total = housing_density_data[
        (housing_density_data['Year'] == year) &
        (housing_density_data['Name'] == 'Outer London')
    ]['Population'].sum()
    if not pd.isna(outer_total) and abs(outer_sum - outer_total) > 1:
        discrepancies.append({
            'Year': year,
            'Area': 'Outer London',
            'Sum of Boroughs': int(outer_sum),
            'Dataset Total': int(outer_total),
            'Difference': int(outer_sum - outer_total)
        })

# Display as table
if discrepancies:
    print(pd.DataFrame(discrepancies).to_string(index=False))
else:
    print("No discrepancies found between borough sums and dataset totals for Inner/Outer London.")

 Year         Area  Sum of Boroughs  Dataset Total  Difference
 2017 Outer London          5328416        5328414           2
 2020 Inner London          3710559        3710562          -3
 2025 Outer London          5765574        5765576          -2
 2026 Inner London          3920964        3920962           2
 2026 Outer London          5811464        5811462           2
 2029 Inner London          4015874        4015872           2
 2031 Inner London          4082436        4082434           2
 2031 Outer London          6031302        6031304          -2
 2036 Inner London          4232417        4232419          -2
 2036 Outer London          6232367        6232369          -2
 2038 Inner London          4284519        4284516           3
 2041 Outer London          6418875        6418878          -3
 2042 Inner London          4380023        4380025          -2
 2042 Outer London          6452243        6452241           2
 2044 Inner London          4422226        4422228          -2
 2045 Outer London          6545716        6545718          -2
 2047 Outer London          6598786        6598789          -3
 2049 Outer London          6647524        6647527          -3

In [20]:
# 1. Overwrite Inner and Outer London population totals with computed borough aggregates

# Compute borough aggregates for each year
inner_agg = housing_density_data[
    housing_density_data['Name'].isin(inner_boroughs)
].groupby('Year')['Population'].sum()
outer_agg = housing_density_data[
    housing_density_data['Name'].isin(outer_boroughs)
].groupby('Year')['Population'].sum()

# Update the dataset with these aggregates
for year, value in inner_agg.items():
    mask = (housing_density_data['Name'] == 'Inner London') & (housing_density_data['Year'] == year)
    housing_density_data.loc[mask, 'Population'] = value

for year, value in outer_agg.items():
    mask = (housing_density_data['Name'] == 'Outer London') & (housing_density_data['Year'] == year)
    housing_density_data.loc[mask, 'Population'] = value

# 2. Rename 'London' to 'Greater London' and set its population to Inner + Outer London aggregate

# Rename 'London' to 'Greater London'
housing_density_data.loc[housing_density_data['Name'] == 'London', 'Name'] = 'Greater London'

# Compute Inner + Outer London aggregate for each year
greater_agg = inner_agg.add(outer_agg, fill_value=0)

# Update population values for 'Greater London'
for year, value in greater_agg.items():
    mask = (housing_density_data['Name'] == 'Greater London') & (housing_density_data['Year'] == year)
    housing_density_data.loc[mask, 'Population'] = value

In [28]:
# Check if Inner London and Outer London aggregates now match the reported totals in the dataset

# For each year, compare borough sum to dataset total for Inner and Outer London
inner_discrepancies = []
outer_discrepancies = []

for year in years:
    # Inner London
    borough_sum_inner = housing_density_data[
        (housing_density_data['Year'] == year) &
        (housing_density_data['Name'].isin(inner_boroughs))
    ]['Population'].sum()
    dataset_total_inner = housing_density_data[
        (housing_density_data['Year'] == year) &
        (housing_density_data['Name'] == 'Inner London')
    ]['Population'].sum()
    if not pd.isna(dataset_total_inner) and abs(borough_sum_inner - dataset_total_inner) > 1:
        inner_discrepancies.append({
            'Year': year,
            'Sum of Boroughs': int(borough_sum_inner),
            'Dataset Total': int(dataset_total_inner),
            'Difference': int(borough_sum_inner - dataset_total_inner)
        })
    # Outer London
    borough_sum_outer = housing_density_data[
        (housing_density_data['Year'] == year) &
        (housing_density_data['Name'].isin(outer_boroughs))
    ]['Population'].sum()
    dataset_total_outer = housing_density_data[
        (housing_density_data['Year'] == year) &
        (housing_density_data['Name'] == 'Outer London')
    ]['Population'].sum()
    if not pd.isna(dataset_total_outer) and abs(borough_sum_outer - dataset_total_outer) > 1:
        outer_discrepancies.append({
            'Year': year,
            'Sum of Boroughs': int(borough_sum_outer),
            'Dataset Total': int(dataset_total_outer),
            'Difference': int(borough_sum_outer - dataset_total_outer)
        })

if not inner_discrepancies and not outer_discrepancies:
    print("All aggregates now match the reported totals for Inner and Outer London.")
else:
    if inner_discrepancies:
        print("Inner London discrepancies:")
        print(pd.DataFrame(inner_discrepancies).to_string(index=False))
    if outer_discrepancies:
        print("Outer London discrepancies:")
        print(pd.DataFrame(outer_discrepancies).to_string(index=False))

# Also check if Inner London + Outer London equals Greater London for each year
greater_discrepancies = []

for year in years:
    inner_total = housing_density_data[
        (housing_density_data['Year'] == year) &
        (housing_density_data['Name'] == 'Inner London')
    ]['Population'].sum()
    outer_total = housing_density_data[
        (housing_density_data['Year'] == year) &
        (housing_density_data['Name'] == 'Outer London')
    ]['Population'].sum()
    greater_total = housing_density_data[
        (housing_density_data['Year'] == year) &
        (housing_density_data['Name'] == 'Greater London')
    ]['Population'].sum()
    sum_inner_outer = inner_total + outer_total
    if not pd.isna(greater_total) and abs(sum_inner_outer - greater_total) > 1:
        greater_discrepancies.append({
            'Year': year,
            'Inner + Outer': int(sum_inner_outer),
            'Greater London': int(greater_total),
            'Difference': int(sum_inner_outer - greater_total)
        })

if not greater_discrepancies:
    print("All aggregates now match for Inner + Outer London = Greater London.")
else:
    print("Greater London discrepancies (Inner + Outer != Greater London):")
    print(pd.DataFrame(greater_discrepancies).to_string(index=False))

All aggregates now match the reported totals for Inner and Outer London.
All aggregates now match for Inner + Outer London = Greater London.

In [33]:
# Remove 'Code' and all columns containing 'hectare' (case-insensitive) from housing_density_data
cols_to_drop = ['Code'] + [col for col in housing_density_data.columns if 'hectare' in col.lower()]
housing_density_data = housing_density_data.drop(columns=cols_to_drop)

In [35]:
# Store the cleaned housing density dataset as a CSV file in the processed data folder
housing_density_data.to_csv(
    '../data/processed/housing_density_borough.csv',
    index=False,
    encoding='utf-8'
)

TODO: compare population (mostly projections) against 2022 figures and against population_by_borough_old dataset we have

TODO: perhaps add a type which indicates easily if population value is measured or projection