In [56]:
import pandas as pd

In [73]:
population_data_file_path = '../data/raw/Population by borough 1939 to 2039.xlsx'
population_data = pd.read_excel(
    population_data_file_path,
    sheet_name='Population',
    skiprows=3,
    usecols='B:P',
    na_values=['n/a', 'N/A', 'N/A', 'n/a'],
    engine='openpyxl'
)

population_data

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,mid-year estimate,mid-year estimate,Census,NaN,Projection,Projection,Projection,Projection,NaN,Growth\n1939-2015,NaN,NaN,Growth\n2014-2015,NaN
1,Area Name,1939,1988,2011,NaN,2015,2021,2031,2039,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,total,%,NaN,total,%
3,City of London,9,6.2,7.375,NaN,8.101776,9.559778,10.843221,11.623187,NaN,-0.898224,-0.099803,NaN,0.211497,0.026157
4,Barking and Dagenham,184,156.6,185.911,NaN,205.434874,224.332972,250.46011,271.193003,NaN,21.434874,0.116494,NaN,3.949193,0.019904
5,Barnet,296,289.5,356.386,NaN,393.215093,415.066095,448.240994,469.008723,NaN,97.215093,0.328429,NaN,5.96088,0.015861
6,Bexley,179,217.7,231.997,NaN,237.012319,243.193377,253.74122,258.484219,NaN,58.012319,0.324091,NaN,2.239583,0.009392
7,Brent,310,246.4,311.215,NaN,326.338839,348.633248,374.68888,381.645253,NaN,16.338839,0.052706,NaN,2.624403,0.008207
8,Bromley,237,295.2,309.392,NaN,320.083395,328.780563,342.514284,350.868707,NaN,83.083395,0.350563,NaN,3.484156,0.010872
9,Camden,301,179,220.338,NaN,230.283248,241.602601,257.415289,266.825465,NaN,-70.716752,-0.234939,NaN,3.069207,0.01326
10,Croydon,297,313.9,363.378,NaN,381.170693,401.285402,425.96744,441.933405,NaN,84.170693,0.283403,NaN,4.10346,0.010892
11,Ealing,285,291.3,338.449,NaN,349.333276,368.654611,392.043485,405.978207,NaN,64.333276,0.225731,NaN,3.507398,0.010089
12,Enfield,272,256.5,312.466,NaN,322.135739,334.681369,350.67717,360.430364,NaN,50.135739,0.184323,NaN,4.741242,0.014511
13,Greenwich,243,210.1,254.557,NaN,281.560496,315.207016,347.102927,350.140195,NaN,38.560496,0.158685,NaN,3.011691,0.011322
14,Hackney,332,184.6,246.27,NaN,262.683238,283.974587,306.72601,322.596474,NaN,-69.316762,-0.208785,NaN,3.508562,0.013531
15,Hammersmith and Fulham,259,151.2,182.493,NaN,189.870627,204.670526,220.479141,231.328889,NaN,-69.129373,-0.266909,NaN,0.241869,0.001345
16,Haringey,292,199.6,254.926,NaN,269.121944,284.690494,301.71165,313.521544,NaN,-22.878056,-0.07835,NaN,3.506275,0.013178
17,Harrow,190,203.3,239.056,NaN,247.5075,257.294766,271.334014,281.645914,NaN,57.5075,0.302671,NaN,2.881705,0.011624
18,Havering,139,236,237.232,NaN,250.342086,266.313176,283.472687,291.279109,NaN,111.342086,0.801022,NaN,2.567651,0.010505
19,Hillingdon,159,232.1,273.936,NaN,289.49887,298.959924,310.859204,316.037546,NaN,130.49887,0.820748,NaN,4.609278,0.015834
20,Hounslow,196,192.9,253.957,NaN,263.591434,276.903924,296.366432,306.665402,NaN,67.591434,0.344854,NaN,4.245725,0.015854
21,Islington,343,165.3,206.125,NaN,220.784215,236.75975,252.729845,265.730325,NaN,-122.215785,-0.356314,NaN,3.933434,0.017905
22,Kensington and Chelsea,228,134.7,158.649,NaN,161.713677,167.819981,179.137074,182.845375,NaN,-66.286323,-0.290729,NaN,-0.00805,-0.000052
23,Kingston upon Thames,129,132,160.06,NaN,167.216782,176.427204,187.811819,196.042201,NaN,38.216782,0.296254,NaN,2.819926,0.016617
24,Lambeth,391,248.9,303.086,NaN,320.432364,338.539718,360.128357,388.848017,NaN,-70.567636,-0.18048,NaN,3.589793,0.011298
25,Lewisham,325,237.6,275.885,NaN,293.064183,312.092972,333.536913,347.45314,NaN,-31.935817,-0.098264,NaN,4.152856,0.01433
26,Merton,197,167.8,199.693,NaN,206.210748,212.54166,221.801974,227.666827,NaN,9.210748,0.046755,NaN,2.733725,0.013169
27,Newham,381,208.7,307.984,NaN,337.980591,371.208316,419.850809,429.440393,NaN,-43.019409,-0.112912,NaN,5.225177,0.016072
28,Redbridge,232,218.6,278.97,NaN,292.460342,311.743776,337.031132,348.925802,NaN,60.460342,0.260605,NaN,5.379491,0.01823
29,Richmond upon Thames,178,159.9,186.99,NaN,191.609678,195.971298,202.698983,207.347452,NaN,13.609678,0.076459,NaN,2.470861,0.012734
30,Southwark,456,219,288.283,NaN,308.668351,341.588817,367.723509,379.023083,NaN,-147.331649,-0.323096,NaN,4.196781,0.013883
31,Sutton,167,169.7,190.146,NaN,196.414177,201.576448,209.624116,214.706843,NaN,29.414177,0.176133,NaN,2.716309,0.013662
32,Tower Hamlets,419,158.7,254.096,NaN,284.324395,332.237968,373.07492,385.061648,NaN,-134.675605,-0.321421,NaN,6.311454,0.022834
33,Waltham Forest,286,213.1,258.249,NaN,271.425992,284.059707,304.515756,318.700799,NaN,-14.574008,-0.050958,NaN,3.21419,0.011959
34,Wandsworth,358,261.1,306.995,NaN,322.743101,348.150688,379.247224,392.296009,NaN,-35.256899,-0.098483,NaN,2.977195,0.009481
35,Westminster,347,172.4,219.396,NaN,230.539399,243.577492,255.945915,267.526533,NaN,-116.460601,-0.335621,NaN,2.754834,0.011984
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Inner London,4441,2526.7,3231.901,NaN,3440.311109,3716.473688,4018.549876,4184.120083,NaN,-1000.688891,-0.22533,NaN,43.670884,0.012939
38,Outer London,4176,4202.6,4942.04,NaN,5192.562332,5461.626534,5810.952628,5998.699972,NaN,1016.562332,0.24343,NaN,67.260867,0.013047
39,Greater London,8615,6729.3,8173.941,NaN,8632.873441,9178.100223,9829.502504,10182.820056,NaN,17.873441,0.002075,NaN,110.931751,0.013004
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Sources:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,"ONS population estimates, Open Government Licence",NaN,NaN,NaN,NaN,NaN,Largest proportional increase 1939-2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,"2011 Census, Open Government Licence",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,GLA 2013 round capped SHLAA projections,NaN,NaN,NaN,NaN,NaN,Largest proportional decrease 1939-2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Contact:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,demography@london.gov.uk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
# Combine the first two rows into a single header, ignore the growth rate columns for now
population_data.columns = [
    f"{col1} {col2}" if pd.notna(col1) and pd.notna(col2) 
    else col2
    for col1, col2 in zip(population_data.iloc[0], population_data.iloc[1])
]

# Drop the first three rows
population_data = population_data.drop(index=[0, 1, 2])

# Drop all columns with all NaN values
population_data = population_data.dropna(axis=1, how='all')

# Drop all rows with all NaN values
population_data = population_data.dropna(axis=0, how='all')

# Drop the last 6 rows
population_data = population_data.drop(index=population_data.index[-6:])

# Reset the index
population_data = population_data.reset_index(drop=True)

# Rename columns: replace spaces with underscores and lowercase them
population_data.columns = [
    col.strip().lower().replace(" ", "_").replace("-", "_") if isinstance(col, str) else col
    for col in population_data.columns
]

# Multiply the values in the population columns by 1000
population_columns = [
    'mid_year_estimate_1939', 
    'mid_year_estimate_1988',
    'census_2011', 
    'projection_2015', 
    'projection_2021', 
    'projection_2031',
    'projection_2039'
]
for col in population_columns:
    population_data[col] = population_data[col].astype(str).str.replace(' ', '').str.replace(',', '').astype(float) * 1000
    population_data[col] = population_data[col].astype(int)

# Drop the columns with NaN as the name
population_data = population_data.loc[:, ~population_data.columns.isna()]

In [75]:
print(population_data.columns)

Index(['area_name', 'mid_year_estimate_1939', 'mid_year_estimate_1988',
       'census_2011', 'projection_2015', 'projection_2021', 'projection_2031',
       'projection_2039'],
      dtype='object')

In [76]:
population_data.to_csv(
    '../data/processed/population_by_borough.csv',
    index=False,
    header=True,
    encoding='utf-8'
)